---
-  name: Ensure SSHD config is updated
   lineinfile:
     path: /etc/ssh/sshd_config
     regexp: '^#?PermitRootLogin'
     line: 'PermitRootLogin no'
     state: present
     backup: yes

-  name: Restart SSH service
   service:
     name: ssh
     state: restarted
